<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- TARGETS -->
	<targets>

		<!-- Logs de aplicación -->
		<target name="AppLog"
				xsi:type="File"
				fileName="D:\Log\ApiProduct-${shortdate}.log"
				layout="${longdate} | ${level} | ${logger} | ${message} ${exception:format=StackTrace}" />

		<!-- Logs de tiempo de requests -->
		<target name="TimeLog"
				xsi:type="File"
				fileName="D:\Log\ApiProduct_Request_Time_${shortdate}.log"
				layout="${longdate} | ${message}" />

	</targets>

	<!-- RULES -->
	<rules>

		<!-- SOLO middleware de tiempo -->
		<logger name="*RequestLoggingMiddleware*"
				minlevel="Info"
				writeTo="TimeLog"
				final="true" />

		<!-- SOLO tu aplicación -->
		<logger name="ApiProduct.*"
				minlevel="Info"
				writeTo="AppLog"
				final="true" />

	</rules>

</nlog>